# Data Wrangling
## Análisis de Calidad de Datos
Equipo: Comando Estelar

#### Instalación de paquetes necesarios

In [16]:
%pip install Pandas

Requirement already satisfied: Pandas in /opt/homebrew/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /opt/homebrew/lib/python3.11/site-packages (from Pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/danielamarquez/Library/Python/3.11/lib/python/site-packages (from Pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from Pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/lib/python3.11/site-packages (from Pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/danielamarquez/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->Pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install ydata_profiling

Requirement already satisfied: ydata_profiling in /opt/homebrew/lib/python3.11/site-packages (4.16.1)
Requirement already satisfied: scipy<1.16,>=1.4.1 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (1.15.2)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.1 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (2.2.3)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (3.10.0)
Requirement already satisfied: pydantic>=2 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (2.11.4)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (6.0.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (3.1.6)
Requirement already satisfied: visions<0.8.2,>=0.7.5 in /opt/homebrew/lib/python3.11/site-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata_profiling) (0.8.1)
Requirement already satisfied: numpy<2.2,>=1.16.0 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (2.1.3)
Requirement already satisfied: htmlmin==0.1.12 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (2.32.3)
Requirement already satisfied: tqdm<5,>=4.48.2 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (4.67.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (0.14.4)
Requirement already satisfied: typeguard<5,>=3 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (4.4.2)
Requirement already satisfied: imagehash==4.3.1 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (1.9.4)
Requirement already satisfied: dacite>=1.8 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (1.9.2)
Requirement already satisfied: numba<=0.61,>=0.56.0 in /opt/homebrew/lib/python3.11/site-packages (from ydata_profiling) (0.61.0)
Requirement already satisfied: PyWavelets in /opt/homebrew/lib/python3.11/site-packages (from imagehash==4.3.1->ydata_profiling) (1.8.0)
Requirement already satisfied: pillow in /opt/homebrew/lib/python3.11/site-packages (from imagehash==4.3.1->ydata_profiling) (11.2.1)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/homebrew/lib/python3.11/site-packages (from jinja2<3.2,>=2.11.1->ydata_profiling) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /Users/danielamarquez/Library/Python/3.11/lib/python/site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (24.2)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /Users/danielamarquez/Library/Python/3.11/lib/python/site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.45,>=0.44.0dev0 in /opt/homebrew/lib/python3.11/site-packages (from numba<=0.61,>=0.56.0->ydata_profiling) (0.44.0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata_profiling) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/lib/python3.11/site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata_profiling) (2025.2)
Requirement already satisfied: joblib>=0.14.1 in /opt/homebrew/lib/python3.11/site-packages (from phik<0.13,>=0.11.1->ydata_profiling) (1.4.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/homebrew/lib/python3.11/site-packages (from requests<3,>=2.24.0->ydata_profiling) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/lib/python3.11/site-packages (from requests<3,>=2.24.0->ydata_profiling) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/homebrew/lib/python3.11/site-packages (from requests<3,>=2.24.0->ydata_profiling) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.11/site-packages (from requests<3,>=2.24.0->ydata_profiling) (2025.4.26)
Requirement already satisfied: patsy>=0.5.6 in /opt/homebrew/lib/python3.11/site-packages (from statsmodels<1,>=0.13.2->ydata_profiling) (1.0.1)
Requirement already satisfied: typing_extensions>=4.10.0 in /Users/danielamarquez/Library/Python/3.11/lib/python/site-packages (from typeguard<5,>=3->ydata_profiling) (4.13.0)
Requirement already satisfied: attrs>=19.3.0 in /opt/homebrew/lib/python3.11/site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata_profiling) (25.3.0)
Requirement already satisfied: networkx>=2.4 in /opt/homebrew/lib/python3.11/site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata_profiling) (3.4.2)
Requirement already satisfied: puremagic in /opt/homebrew/lib/python3.11/site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata_profiling) (1.29)
Requirement already satisfied: annotated-types>=0.6.0 in /opt/homebrew/lib/python3.11/site-packages (from pydantic>=2->ydata_profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /opt/homebrew/lib/python3.11/site-packages (from pydantic>=2->ydata_profiling) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /opt/homebrew/lib/python3.11/site-packages (from pydantic>=2->ydata_profiling) (0.4.0)
Requirement already satisfied: six>=1.5 in /Users/danielamarquez/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.7->matplotlib<=3.10,>=3.5->ydata_profiling) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [25]:
%pip install  dython

Collecting dython
  Downloading dython-0.7.9-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: numpy>=1.23.0 in /opt/homebrew/lib/python3.11/site-packages (from dython) (2.1.3)
Requirement already satisfied: pandas>=1.4.2 in /opt/homebrew/lib/python3.11/site-packages (from dython) (2.2.3)
Requirement already satisfied: seaborn>=0.12.0 in /opt/homebrew/lib/python3.11/site-packages (from dython) (0.13.2)
Requirement already satisfied: scipy>=1.7.1 in /opt/homebrew/lib/python3.11/site-packages (from dython) (1.15.2)
Requirement already satisfied: matplotlib>=3.6.0 in /opt/homebrew/lib/python3.11/site-packages (from dython) (3.10.0)
Requirement already satisfied: scikit-learn>=0.24.2 in /opt/homebrew/lib/python3.11/site-packages (from dython) (1.6.1)
Requirement already satisfied: psutil>=5.9.1 in /Users/danielamarquez/Library/Python/3.11/lib/python/site-packages (from dython) (7.0.0)
Requirement already satisfied: setuptools in /opt/homebrew/lib/python3.11/site-packages (from dython) (75.6.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.6.0->dython) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.6.0->dython) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.6.0->dython) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.6.0->dython) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /Users/danielamarquez/Library/Python/3.11/lib/python/site-packages (from matplotlib>=3.6.0->dython) (24.2)
Requirement already satisfied: pillow>=8 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.6.0->dython) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.6.0->dython) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /Users/danielamarquez/Library/Python/3.11/lib/python/site-packages (from matplotlib>=3.6.0->dython) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas>=1.4.2->dython) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/lib/python3.11/site-packages (from pandas>=1.4.2->dython) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/danielamarquez/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.7->matplotlib>=3.6.0->dython) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn>=0.24.2->dython) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn>=0.24.2->dython) (3.6.0)
Downloading dython-0.7.9-py3-none-any.whl (26 kB)
Installing collected packages: dython
Successfully installed dython-0.7.9
Note: you may need to restart the kernel to use updated packages.

#### Importación de las librerías necesarias

In [1]:
import pandas as pd
import numpy as np
import warnings
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import RobustScaler
from ydata_profiling import ProfileReport
from dython.nominal import associations
import scipy.stats as stats

/opt/homebrew/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Importación de archivos

In [30]:
df = pd.read_csv('iar_Reservaciones.csv')

/var/folders/by/zjps0pld1k3grf79nwzwkw440000gn/T/ipykernel_1253/2627998811.py:1: DtypeWarning: Columns (22,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('iar_Reservaciones.csv')

In [3]:
df.head()

,ID_Reserva,Fecha_hoy,h_res_fec,h_res_fec_ok,h_res_fec_okt,h_num_per,aa_h_num_per,h_num_adu,aa_h_num_adu,h_num_men,...,h_edo,h_codigop,h_correo_e,h_nom,h_tfa_total,aa_h_tfa_total,moneda_cve,h_ult_cam_fec,h_ult_cam_fec_ok,h_ult_cam_fec_okt
0,0,2019-08-16,20190816,2019-08-16,2019-08-16,2,0,2,0,0,...,EMX,01500,NaN,NaN,2659.98,0.0,1,20191110,2019-11-10,2019-11-10
1,1,2019-10-22,20191022,2019-10-22,2019-10-22,4,0,4,0,0,...,EGT,023541,NaN,NaN,1764.00,0.0,1,20191205,2019-12-05,2019-12-05
2,2,2019-10-28,20191028,2019-10-28,2019-10-28,2,0,2,0,0,...,EMC,59800,NaN,NaN,2660.04,0.0,1,20191205,2019-12-05,2019-12-05
3,3,2019-10-28,20191028,2019-10-28,2019-10-28,4,0,3,0,0,...,EGT,37219,NaN,NaN,1995.03,0.0,1,20191211,2019-12-11,2019-12-11
4,4,2019-10-28,20191028,2019-10-28,2019-10-28,2,0,2,0,0,...,EMX,15300,NaN,NaN,13369.92,0.0,1,20191212,2019-12-12,2019-12-12

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203002 entries, 0 to 203001
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID_Reserva                203002 non-null  int64
 1   Fecha_hoy                 203002 non-null  object
 2   h_res_fec                 203002 non-null  int64
 3   h_res_fec_ok              203002 non-null  object
 4   h_res_fec_okt             203002 non-null  object
 5   h_num_per                 203002 non-null  int64
 6   aa_h_num_per              203002 non-null  int64
 7   h_num_adu                 203002 non-null  int64
 8   aa_h_num_adu              203002 non-null  int64
 9   h_num_men                 203002 non-null  int64
 10  aa_h_num_men              203002 non-null  int64
 11  h_num_noc                 203002 non-null  int64
 12  aa_h_num_noc              203002 non-null  int64
 13  h_tot_hab                 203002 non-null  int64
 14  aa_h_tot_hab              203002 non-null  int64
 15  ID_Programa               203002 non-null  int64
 16  ID_Paquete                203002 non-null  int64
 17  ID_Segmento_Comp          203002 non-null  int64
 18  ID_Agencia                203002 non-null  int64
 19  ID_empresa                203002 non-null  int64
 20  ID_Tipo_Habitacion        203002 non-null  int64
 21  ID_canal                  203002 non-null  int64
 22  h_fec_lld                 203002 non-null  object
 23  h_fec_lld_ok              203002 non-null  object
 24  h_fec_lld_okt             203002 non-null  object
 25  h_fec_reg                 203002 non-null  object
 26  h_fec_reg_ok              203002 non-null  object
 27  h_fec_reg_okt             203002 non-null  object
 28  h_fec_sda                 203002 non-null  object
 29  h_fec_sda_ok              203002 non-null  object
 30  h_fec_sda_okt             203002 non-null  object
 31  ID_Pais_Origen            203002 non-null  int64
 32  Cliente_Disp              203002 non-null  int64
 33  aa_Cliente_Disp           203002 non-null  int64
 34  Reservacion               203002 non-null  int64
 35  aa_Reservacion            203002 non-null  int64
 36  ID_estatus_reservaciones  203002 non-null  int64
 37  h_can_res                 203002 non-null  object
 38  h_cod_reserva             203002 non-null  object
 39  h_edo                     203002 non-null  object
 40  h_codigop                 203002 non-null  object
 41  h_correo_e                0 non-null       float64
 42  h_nom                     0 non-null       float64
 43  h_tfa_total               203002 non-null  float64
 44  aa_h_tfa_total            203002 non-null  float64
 45  moneda_cve                203002 non-null  int64
 46  h_ult_cam_fec             203002 non-null  object
 47  h_ult_cam_fec_ok          203002 non-null  object
 48  h_ult_cam_fec_okt         203002 non-null  object
dtypes: float64(4), int64(26), object(19)
memory usage: 75.9+ MB

In [5]:
df.describe()

,ID_Reserva,h_res_fec,h_num_per,aa_h_num_per,h_num_adu,aa_h_num_adu,h_num_men,aa_h_num_men,h_num_noc,aa_h_num_noc,...,Cliente_Disp,aa_Cliente_Disp,Reservacion,aa_Reservacion,ID_estatus_reservaciones,h_correo_e,h_nom,h_tfa_total,aa_h_tfa_total,moneda_cve
count,203002.00000,2.030020e+05,203002.000000,203002.000000,203002.000000,203002.000000,203002.000000,203002.000000,203002.000000,203002.000000,...,203002.000000,203002.000000,203002.000000,203002.000000,203002.000000,0.0,0.0,2.030020e+05,2.030020e+05,203002.0
mean,101500.50000,2.019291e+07,1.185865,1.170550,1.094708,1.079694,0.034108,0.033734,1.680028,1.656043,...,1.094708,1.079694,0.503438,0.496562,6.733407,NaN,NaN,4.106728e+03,4.039369e+03,1.0
std,58601.77401,4.109583e+03,1.369629,1.368073,1.207076,1.204694,0.265187,0.264043,2.866189,2.847958,...,1.207076,1.204694,0.499989,0.499989,3.193774,NaN,NaN,6.501707e+03,6.443027e+03,0.0
min,0.00000,2.019010e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,NaN,NaN,-3.091000e+04,-3.091000e+04,1.0
25%,50750.25000,2.019041e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,3.000000,NaN,NaN,0.000000e+00,0.000000e+00,1.0
50%,101500.50000,2.019072e+07,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,9.000000,NaN,NaN,0.000000e+00,0.000000e+00,1.0
75%,152250.75000,2.019123e+07,2.000000,2.000000,2.000000,2.000000,0.000000,0.000000,3.000000,3.000000,...,2.000000,2.000000,1.000000,1.000000,9.000000,NaN,NaN,7.592000e+03,7.494000e+03,1.0
max,203001.00000,2.020043e+07,32.000000,32.000000,15.000000,15.000000,15.000000,15.000000,687.000000,687.000000,...,15.000000,15.000000,1.000000,1.000000,9.000000,NaN,NaN,1.033056e+06,1.033056e+06,1.0

In [6]:
df.shape

(203002, 49)

## Pandas Data Profiling
Aplicamos esta herramienta de Pandas antes de realizar el análisis

In [7]:
profile_report = ProfileReport(df, title="Profiling Report")
profile_report.to_file("Profile_report.html")

100%|██████████| 49/49 [00:05<00:00,  8.75it/s]6<00:01,  4.45it/s, Describe variable: h_ult_cam_fec_okt]
Summarize dataset: 100%|██████████| 542/542 [00:48<00:00, 11.25it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:07<00:00,  7.06s/it]
Render HTML: 100%|██████████| 1/1 [00:07<00:00,  7.18s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 19.51it/s]

# `Identificación de Variables`

## Validadción de Datos `Tipos de Datos`

In [31]:
df.dtypes

ID_Reserva                    int64
Fecha_hoy                    object
h_res_fec                     int64
h_res_fec_ok                 object
h_res_fec_okt                object
h_num_per                     int64
aa_h_num_per                  int64
h_num_adu                     int64
aa_h_num_adu                  int64
h_num_men                     int64
aa_h_num_men                  int64
h_num_noc                     int64
aa_h_num_noc                  int64
h_tot_hab                     int64
aa_h_tot_hab                  int64
ID_Programa                   int64
ID_Paquete                    int64
ID_Segmento_Comp              int64
ID_Agencia                    int64
ID_empresa                    int64
ID_Tipo_Habitacion            int64
ID_canal                      int64
h_fec_lld                    object
h_fec_lld_ok                 object
h_fec_lld_okt                object
h_fec_reg                    object
h_fec_reg_ok                 object
h_fec_reg_okt                object
h_fec_sda                    object
h_fec_sda_ok                 object
h_fec_sda_okt                object
ID_Pais_Origen                int64
Cliente_Disp                  int64
aa_Cliente_Disp               int64
Reservacion                   int64
aa_Reservacion                int64
ID_estatus_reservaciones      int64
h_can_res                    object
h_cod_reserva                object
h_edo                        object
h_codigop                    object
h_correo_e                  float64
h_nom                       float64
h_tfa_total                 float64
aa_h_tfa_total              float64
moneda_cve                    int64
h_ult_cam_fec                object
h_ult_cam_fec_ok             object
h_ult_cam_fec_okt            object
dtype: object

### Correción de tipos de datos
Convertimos a tipo de dato fecha todas las columnas en las que corresponda, haciendo distinción dependiendo de su formato

In [32]:
columnas_fechas = ['Fecha_hoy', 'h_fec_reg_ok', 'h_fec_reg_okt', 'h_res_fec_ok', 'h_res_fec_okt', 'h_fec_lld_ok', 'h_fec_lld_okt', 'h_ult_cam_fec_ok', 'h_ult_cam_fec_okt', 'h_fec_sda_ok', 'h_fec_sda_okt']
columnas_fechas_sin_guion = ['h_fec_reg', 'h_fec_lld', 'h_res_fec','h_ult_cam_fec', 'h_fec_sda', ]

for fecha in columnas_fechas:
    df[fecha] = pd.to_datetime(df[fecha], errors='coerce')

for fecha in columnas_fechas_sin_guion:
    df[fecha] = pd.to_datetime(df[fecha], format='%Y%m%d', errors='coerce')

Identificar las variables continuas y las variables categóricas

In [33]:
for column_name in df.columns:
    unique_count = df[column_name].nunique()
    print(column_name, ":", unique_count)

ID_Reserva : 203002
Fecha_hoy : 824
h_res_fec : 482
h_res_fec_ok : 482
h_res_fec_okt : 482
h_num_per : 22
aa_h_num_per : 22
h_num_adu : 16
aa_h_num_adu : 16
h_num_men : 10
aa_h_num_men : 10
h_num_noc : 42
aa_h_num_noc : 41
h_tot_hab : 7
aa_h_tot_hab : 7
ID_Programa : 2
ID_Paquete : 6
ID_Segmento_Comp : 20
ID_Agencia : 120
ID_empresa : 1
ID_Tipo_Habitacion : 28
ID_canal : 14
h_fec_lld : 713
h_fec_lld_ok : 714
h_fec_lld_okt : 714
h_fec_reg : 514
h_fec_reg_ok : 515
h_fec_reg_okt : 515
h_fec_sda : 722
h_fec_sda_ok : 723
h_fec_sda_okt : 723
ID_Pais_Origen : 4
Cliente_Disp : 16
aa_Cliente_Disp : 16
Reservacion : 2
aa_Reservacion : 2
ID_estatus_reservaciones : 8
h_can_res : 15
h_cod_reserva : 32724
h_edo : 148
h_codigop : 10893
h_correo_e : 0
h_nom : 0
h_tfa_total : 11596
aa_h_tfa_total : 11522
moneda_cve : 1
h_ult_cam_fec : 512
h_ult_cam_fec_ok : 521
h_ult_cam_fec_okt : 521

In [34]:
var_categoricas = ['ID_Programa', 'ID_Paquete', 'ID_Segmento_Comp', 'ID_Agencia', 'ID_empresa', 'ID_Tipo_Habitacion', 'ID_canal', 'ID_estatus_reservaciones', 
                   'ID_Pais_Origen', 'Reservacion', 'aa_Reservacion', 'h_edo', 'h_codigop', 'moneda_cve']

df[var_categoricas] = df[var_categoricas].astype("category")

In [37]:
df.dtypes

ID_Reserva                           int64
Fecha_hoy                   datetime64[ns]
h_res_fec                   datetime64[ns]
h_res_fec_ok                datetime64[ns]
h_res_fec_okt               datetime64[ns]
h_num_per                            int64
aa_h_num_per                         int64
h_num_adu                            int64
aa_h_num_adu                         int64
h_num_men                            int64
aa_h_num_men                         int64
h_num_noc                            int64
aa_h_num_noc                         int64
h_tot_hab                            int64
aa_h_tot_hab                         int64
ID_Programa                       category
ID_Paquete                        category
ID_Segmento_Comp                  category
ID_Agencia                        category
ID_empresa                        category
ID_Tipo_Habitacion                category
ID_canal                          category
h_fec_lld                   datetime64[ns]
h_fec_lld_ok                datetime64[ns]
h_fec_lld_okt               datetime64[ns]
h_fec_reg                   datetime64[ns]
h_fec_reg_ok                datetime64[ns]
h_fec_reg_okt               datetime64[ns]
h_fec_sda                   datetime64[ns]
h_fec_sda_ok                datetime64[ns]
h_fec_sda_okt               datetime64[ns]
ID_Pais_Origen                    category
Cliente_Disp                         int64
aa_Cliente_Disp                      int64
Reservacion                       category
aa_Reservacion                    category
ID_estatus_reservaciones          category
h_can_res                           object
h_cod_reserva                       object
h_edo                             category
h_codigop                         category
h_correo_e                         float64
h_nom                              float64
h_tfa_total                        float64
aa_h_tfa_total                     float64
moneda_cve                        category
h_ult_cam_fec               datetime64[ns]
h_ult_cam_fec_ok            datetime64[ns]
h_ult_cam_fec_okt           datetime64[ns]
dtype: object

## Corrección de Nombres de Datos

In [38]:
# Reemplazos específicos en los nombres de las columnas
df.columns = [
    col.replace("num_noc", "num_noches")
       .replace("sda", "salida")
       .replace("reg", "region")
       .replace("num_adu", "num_adultos")
       .replace("ID_Segmento_Comp", "ID_Segmento_Alterno")
       .replace("tfa_total", "tarifa_total")
    for col in df.columns
]

# `Análisis Univariado`

## Valores Continuos - Distribución de Frecuencias - `Centralidad, Rango y Simetría`

## Identificacipon de Valores Nulos `Null`

In [46]:
plt.style.use('seaborn-v0_8-colorblind')
df.hist(figsize=(15,45),histtype='stepfilled',layout=(15,3),bins=5)

array([[<Axes: title={'center': 'ID_Reserva'}>,
        <Axes: title={'center': 'Fecha_hoy'}>,
        <Axes: title={'center': 'h_res_fec'}>],
       [<Axes: title={'center': 'h_res_fec_ok'}>,
        <Axes: title={'center': 'h_res_fec_okt'}>,
        <Axes: title={'center': 'h_num_per'}>],
       [<Axes: title={'center': 'aa_h_num_per'}>,
        <Axes: title={'center': 'h_num_adultos'}>,
        <Axes: title={'center': 'aa_h_num_adultos'}>],
       [<Axes: title={'center': 'h_num_men'}>,
        <Axes: title={'center': 'aa_h_num_men'}>,
        <Axes: title={'center': 'h_num_noches'}>],
       [<Axes: title={'center': 'aa_h_num_noches'}>,
        <Axes: title={'center': 'h_tot_hab'}>,
        <Axes: title={'center': 'aa_h_tot_hab'}>],
       [<Axes: title={'center': 'h_fec_lld'}>,
        <Axes: title={'center': 'h_fec_lld_ok'}>,
        <Axes: title={'center': 'h_fec_lld_okt'}>],
       [<Axes: title={'center': 'h_fec_region'}>,
        <Axes: title={'center': 'h_fec_region_ok'}>,
        <Axes: title={'center': 'h_fec_region_okt'}>],
       [<Axes: title={'center': 'h_fec_salida'}>,
        <Axes: title={'center': 'h_fec_salida_ok'}>,
        <Axes: title={'center': 'h_fec_salida_okt'}>],
       [<Axes: title={'center': 'Cliente_Disp'}>,
        <Axes: title={'center': 'aa_Cliente_Disp'}>,
        <Axes: title={'center': 'h_correo_e'}>],
       [<Axes: title={'center': 'h_nom'}>,
        <Axes: title={'center': 'h_tarifa_total'}>,
        <Axes: title={'center': 'aa_h_tarifa_total'}>],
       [<Axes: title={'center': 'h_ult_cam_fec'}>,
        <Axes: title={'center': 'h_ult_cam_fec_ok'}>,
        <Axes: title={'center': 'h_ult_cam_fec_okt'}>],
       [<Axes: >, <Axes: >, <Axes: >],
       [<Axes: >, <Axes: >, <Axes: >],
       [<Axes: >, <Axes: >, <Axes: >],
       [<Axes: >, <Axes: >, <Axes: >]], dtype=object)

In [47]:
# Verificar valores nulos 
missing_counts = df.isnull().sum()
print(missing_counts[missing_counts > 0])

h_fec_lld             2
h_fec_region       1550
h_fec_salida         34
h_correo_e       203002
h_nom            203002
h_ult_cam_fec       533
dtype: int64

In [48]:
# Eliminar columnas con valores nulos
df = df.drop(columns=['h_correo_e', 'h_nom'])

In [49]:
# Eliminar filas con valores nulos
df = df.dropna()

In [50]:
# Total de valores faltantes
print(df.isnull().sum().sum())

0

Reemplazamos los campos vacíos (con solo espacios) por valores nulos para mayor control

In [20]:
# Convertir valores con espacios en blanco en NaN
df = df.replace(r'^\s*$', pd.NA, regex=True)

In [21]:
# Nuevos valores nulos
missing_counts = df.isnull().sum()
print(missing_counts[missing_counts > 0])

h_cod_reserva    127612
h_edo                 2
h_codigop         55742
dtype: int64

## Identificación de Filas Duplicadas

In [22]:
# Verificar y eliminar filas duplicadas
duplicados = df.duplicated()
print(f"\nNúmero de filas duplicadas: {duplicados.sum()}")
df = df.drop_duplicates()

Número de filas duplicadas: 0

In [23]:
# Nuevas dimensiones del dataset
df.shape

(201414, 47)

## Identificación de `Outliers`

In [24]:
sns.set_style("darkgrid") 
sns.boxplot(x = 'h_num_per', y = 'h_tarifa_total', data = df)

In [25]:
plt.figure(figsize=(5, 3))
sns.catplot(data=df, x='h_fec_lld', y='h_tarifa_total', hue = 'ID_Tipo_Habitacion')

### Análisis de variables desbalanceadas

In [29]:
# Lista para resultados
results = []

for column in df.select_dtypes(include=['int', 'float']).columns:
    skewness = stats.skew(df[column])
    kurtosis = stats.kurtosis(df[column])

    # Clasificación de sesgo
    if abs(skewness) < 0.5:
        skewness_level = "Bajo"
    elif abs(skewness) < 1:
        skewness_level = "Moderado"
    else:
        skewness_level = "Alto"

    # Clasificación de curtosis
    if abs(kurtosis) < 1:
        kurtosis_level = "Mesocúrtica"
    elif kurtosis > 1:
        kurtosis_level = "Leptocúrtica"
    else:
        kurtosis_level = "Platicúrtica"

    results.append({
        'Columna': column,
        'Skew': round(skewness, 4),
        'Sesgo': skewness_level,
        'Kurtosis': round(kurtosis, 4),
        'Curtosis': kurtosis_level
    })

# DataFrame
sesgo_df = pd.DataFrame(results)

# Resultados
sesgo_df

              Columna     Skew Sesgo    Kurtosis      Curtosis
0          ID_Reserva   0.0003  Bajo     -1.2004  Platicúrtica
1           h_num_per   1.8039  Alto     17.8581  Leptocúrtica
2        aa_h_num_per   1.8137  Alto     17.8871  Leptocúrtica
3       h_num_adultos   1.0609  Alto      4.3738  Leptocúrtica
4    aa_h_num_adultos   1.0628  Alto      4.2391  Leptocúrtica
5           h_num_men  16.4260  Alto    604.2504  Leptocúrtica
6        aa_h_num_men  16.5829  Alto    614.5695  Leptocúrtica
7        h_num_noches  81.0509  Alto  17178.7187  Leptocúrtica
8     aa_h_num_noches  82.3392  Alto  17616.9333  Leptocúrtica
9           h_tot_hab   0.1306  Bajo     -1.2340  Platicúrtica
10       aa_h_tot_hab   0.1538  Bajo     -1.2441  Platicúrtica
11       Cliente_Disp   1.0609  Alto      4.3738  Leptocúrtica
12    aa_Cliente_Disp   1.0628  Alto      4.2391  Leptocúrtica
13     h_tarifa_total  27.3286  Alto   3696.2340  Leptocúrtica
14  aa_h_tarifa_total  27.9517  Alto   3832.8314  Leptocúrtica

## Pandas Data Profiling 
Aplicamos nuevamente esta herramienta después de realizar el análisis

In [ ]:
profile_report = ProfileReport(df, title="Profiling Report Clean")
profile_report.to_file("Profile_report_clean.html")

100%|██████████| 47/47 [00:00<00:00, 57.79it/s]0<00:00, 39.56it/s, Describe variable: h_ult_cam_fec_okt]
Summarize dataset: 100%|██████████| 177/177 [00:11<00:00, 15.48it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:05<00:00,  5.86s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.19s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 18.65it/s]