In [1]:
import pandas as pd
import numpy as np
import warnings

In [2]:
warnings.simplefilter("ignore")

In [3]:
df = pd.read_csv("C:/a space/S8/Reto/iar_Reservaciones.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203002 entries, 0 to 203001
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID_Reserva                203002 non-null  int64
 1   Fecha_hoy                 203002 non-null  object
 2   h_res_fec                 203002 non-null  int64
 3   h_res_fec_ok              203002 non-null  object
 4   h_res_fec_okt             203002 non-null  object
 5   h_num_per                 203002 non-null  int64
 6   aa_h_num_per              203002 non-null  int64
 7   h_num_adu                 203002 non-null  int64
 8   aa_h_num_adu              203002 non-null  int64
 9   h_num_men                 203002 non-null  int64
 10  aa_h_num_men              203002 non-null  int64
 11  h_num_noc                 203002 non-null  int64
 12  aa_h_num_noc              203002 non-null  int64
 13  h_tot_hab                 203002 non-null  int64
 14  aa_h_tot_hab              203002 non-null  int64
 15  ID_Programa               203002 non-null  int64
 16  ID_Paquete                203002 non-null  int64
 17  ID_Segmento_Comp          203002 non-null  int64
 18  ID_Agencia                203002 non-null  int64
 19  ID_empresa                203002 non-null  int64
 20  ID_Tipo_Habitacion        203002 non-null  int64
 21  ID_canal                  203002 non-null  int64
 22  h_fec_lld                 203002 non-null  object
 23  h_fec_lld_ok              203002 non-null  object
 24  h_fec_lld_okt             203002 non-null  object
 25  h_fec_reg                 203002 non-null  object
 26  h_fec_reg_ok              203002 non-null  object
 27  h_fec_reg_okt             203002 non-null  object
 28  h_fec_sda                 203002 non-null  object
 29  h_fec_sda_ok              203002 non-null  object
 30  h_fec_sda_okt             203002 non-null  object
 31  ID_Pais_Origen            203002 non-null  int64
 32  Cliente_Disp              203002 non-null  int64
 33  aa_Cliente_Disp           203002 non-null  int64
 34  Reservacion               203002 non-null  int64
 35  aa_Reservacion            203002 non-null  int64
 36  ID_estatus_reservaciones  203002 non-null  int64
 37  h_can_res                 203002 non-null  object
 38  h_cod_reserva             203002 non-null  object
 39  h_edo                     203002 non-null  object
 40  h_codigop                 203002 non-null  object
 41  h_correo_e                0 non-null       float64
 42  h_nom                     0 non-null       float64
 43  h_tfa_total               203002 non-null  float64
 44  aa_h_tfa_total            203002 non-null  float64
 45  moneda_cve                203002 non-null  int64
 46  h_ult_cam_fec             203002 non-null  object
 47  h_ult_cam_fec_ok          203002 non-null  object
 48  h_ult_cam_fec_okt         203002 non-null  object
dtypes: float64(4), int64(26), object(19)
memory usage: 75.9+ MB

In [5]:
df.drop(['h_correo_e', 'h_nom'], axis='columns', inplace=True)

In [6]:
df.shape

(203002, 47)

#### Reemplazamos los campos vacíos (con solo espacios) por valores nulos para mayor control

In [7]:
df = df.replace(r'^\s*$', np.nan, regex=True)

#### Contamos no nulos después de la corrección

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203002 entries, 0 to 203001
Data columns (total 47 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID_Reserva                203002 non-null  int64
 1   Fecha_hoy                 203002 non-null  object
 2   h_res_fec                 203002 non-null  int64
 3   h_res_fec_ok              203002 non-null  object
 4   h_res_fec_okt             203002 non-null  object
 5   h_num_per                 203002 non-null  int64
 6   aa_h_num_per              203002 non-null  int64
 7   h_num_adu                 203002 non-null  int64
 8   aa_h_num_adu              203002 non-null  int64
 9   h_num_men                 203002 non-null  int64
 10  aa_h_num_men              203002 non-null  int64
 11  h_num_noc                 203002 non-null  int64
 12  aa_h_num_noc              203002 non-null  int64
 13  h_tot_hab                 203002 non-null  int64
 14  aa_h_tot_hab              203002 non-null  int64
 15  ID_Programa               203002 non-null  int64
 16  ID_Paquete                203002 non-null  int64
 17  ID_Segmento_Comp          203002 non-null  int64
 18  ID_Agencia                203002 non-null  int64
 19  ID_empresa                203002 non-null  int64
 20  ID_Tipo_Habitacion        203002 non-null  int64
 21  ID_canal                  203002 non-null  int64
 22  h_fec_lld                 203000 non-null  object
 23  h_fec_lld_ok              203002 non-null  object
 24  h_fec_lld_okt             203002 non-null  object
 25  h_fec_reg                 201452 non-null  object
 26  h_fec_reg_ok              203002 non-null  object
 27  h_fec_reg_okt             203002 non-null  object
 28  h_fec_sda                 202968 non-null  object
 29  h_fec_sda_ok              203002 non-null  object
 30  h_fec_sda_okt             203002 non-null  object
 31  ID_Pais_Origen            203002 non-null  int64
 32  Cliente_Disp              203002 non-null  int64
 33  aa_Cliente_Disp           203002 non-null  int64
 34  Reservacion               203002 non-null  int64
 35  aa_Reservacion            203002 non-null  int64
 36  ID_estatus_reservaciones  203002 non-null  int64
 37  h_can_res                 202510 non-null  object
 38  h_cod_reserva             74860 non-null   object
 39  h_edo                     203000 non-null  object
 40  h_codigop                 145678 non-null  object
 41  h_tfa_total               203002 non-null  float64
 42  aa_h_tfa_total            203002 non-null  float64
 43  moneda_cve                203002 non-null  int64
 44  h_ult_cam_fec             202469 non-null  object
 45  h_ult_cam_fec_ok          203002 non-null  object
 46  h_ult_cam_fec_okt         203002 non-null  object
dtypes: float64(2), int64(26), object(19)
memory usage: 72.8+ MB

#### Convertimos a tipo de dato fecha todas las columnas en las que corresponda, haciendo distinción dependiendo de su formato

In [9]:
columnas_fechas = ['Fecha_hoy', 'h_fec_reg_ok', 'h_fec_reg_okt', 'h_res_fec_ok', 'h_res_fec_okt', 'h_fec_lld_ok', 'h_fec_lld_okt', 'h_ult_cam_fec_ok', 'h_ult_cam_fec_okt', 'h_fec_sda_ok', 'h_fec_sda_okt']
columnas_fechas_sin_guion = ['h_fec_reg', 'h_fec_lld', 'h_res_fec','h_ult_cam_fec', 'h_fec_sda', ]

for fecha in columnas_fechas:
    df[fecha] = pd.to_datetime(df[fecha], errors='coerce')

for fecha in columnas_fechas_sin_guion:
    df[fecha] = pd.to_datetime(df[fecha], format='%Y%m%d', errors='coerce')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203002 entries, 0 to 203001
Data columns (total 47 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID_Reserva                203002 non-null  int64
 1   Fecha_hoy                 203002 non-null  datetime64[ns]
 2   h_res_fec                 203002 non-null  datetime64[ns]
 3   h_res_fec_ok              203002 non-null  datetime64[ns]
 4   h_res_fec_okt             203002 non-null  datetime64[ns]
 5   h_num_per                 203002 non-null  int64
 6   aa_h_num_per              203002 non-null  int64
 7   h_num_adu                 203002 non-null  int64
 8   aa_h_num_adu              203002 non-null  int64
 9   h_num_men                 203002 non-null  int64
 10  aa_h_num_men              203002 non-null  int64
 11  h_num_noc                 203002 non-null  int64
 12  aa_h_num_noc              203002 non-null  int64
 13  h_tot_hab                 203002 non-null  int64
 14  aa_h_tot_hab              203002 non-null  int64
 15  ID_Programa               203002 non-null  int64
 16  ID_Paquete                203002 non-null  int64
 17  ID_Segmento_Comp          203002 non-null  int64
 18  ID_Agencia                203002 non-null  int64
 19  ID_empresa                203002 non-null  int64
 20  ID_Tipo_Habitacion        203002 non-null  int64
 21  ID_canal                  203002 non-null  int64
 22  h_fec_lld                 203000 non-null  datetime64[ns]
 23  h_fec_lld_ok              203002 non-null  datetime64[ns]
 24  h_fec_lld_okt             203002 non-null  datetime64[ns]
 25  h_fec_reg                 201452 non-null  datetime64[ns]
 26  h_fec_reg_ok              203002 non-null  datetime64[ns]
 27  h_fec_reg_okt             203002 non-null  datetime64[ns]
 28  h_fec_sda                 202968 non-null  datetime64[ns]
 29  h_fec_sda_ok              203002 non-null  datetime64[ns]
 30  h_fec_sda_okt             203002 non-null  datetime64[ns]
 31  ID_Pais_Origen            203002 non-null  int64
 32  Cliente_Disp              203002 non-null  int64
 33  aa_Cliente_Disp           203002 non-null  int64
 34  Reservacion               203002 non-null  int64
 35  aa_Reservacion            203002 non-null  int64
 36  ID_estatus_reservaciones  203002 non-null  int64
 37  h_can_res                 202510 non-null  object
 38  h_cod_reserva             74860 non-null   object
 39  h_edo                     203000 non-null  object
 40  h_codigop                 145678 non-null  object
 41  h_tfa_total               203002 non-null  float64
 42  aa_h_tfa_total            203002 non-null  float64
 43  moneda_cve                203002 non-null  int64
 44  h_ult_cam_fec             202469 non-null  datetime64[ns]
 45  h_ult_cam_fec_ok          203002 non-null  datetime64[ns]
 46  h_ult_cam_fec_okt         203002 non-null  datetime64[ns]
dtypes: datetime64[ns](16), float64(2), int64(25), object(4)
memory usage: 72.8+ MB

#### Revisamos cantidad y porcentajes de valores nulos

In [11]:
df.isnull().sum().sort_values(ascending=False)

h_cod_reserva               128142
h_codigop                    57324
h_fec_reg                     1550
h_ult_cam_fec                  533
h_can_res                      492
h_fec_sda                       34
h_fec_lld                        2
h_edo                            2
ID_Reserva                       0
Fecha_hoy                        0
h_res_fec                        0
h_res_fec_ok                     0
h_res_fec_okt                    0
h_num_per                        0
aa_h_num_per                     0
aa_h_tot_hab                     0
h_tot_hab                        0
aa_h_num_noc                     0
h_num_noc                        0
aa_h_num_men                     0
h_num_men                        0
aa_h_num_adu                     0
h_num_adu                        0
ID_canal                         0
ID_Tipo_Habitacion               0
h_fec_lld_okt                    0
ID_Programa                      0
ID_Agencia                       0
ID_empresa                       0
ID_Segmento_Comp                 0
ID_Paquete                       0
h_fec_sda_okt                    0
h_fec_sda_ok                     0
h_fec_reg_okt                    0
h_fec_reg_ok                     0
h_fec_lld_ok                     0
Reservacion                      0
ID_Pais_Origen                   0
Cliente_Disp                     0
aa_Reservacion                   0
ID_estatus_reservaciones         0
aa_Cliente_Disp                  0
h_tfa_total                      0
aa_h_tfa_total                   0
moneda_cve                       0
h_ult_cam_fec_ok                 0
h_ult_cam_fec_okt                0
dtype: int64

In [15]:
(df.isnull().mean() * 100).sort_values(ascending=False)

h_cod_reserva               63.123516
h_codigop                   28.238145
h_fec_reg                    0.763539
h_ult_cam_fec                0.262559
h_can_res                    0.242362
h_fec_sda                    0.016749
h_fec_lld                    0.000985
h_edo                        0.000985
ID_Reserva                   0.000000
Fecha_hoy                    0.000000
h_res_fec                    0.000000
h_res_fec_ok                 0.000000
h_res_fec_okt                0.000000
h_num_per                    0.000000
aa_h_num_per                 0.000000
aa_h_tot_hab                 0.000000
h_tot_hab                    0.000000
aa_h_num_noc                 0.000000
h_num_noc                    0.000000
aa_h_num_men                 0.000000
h_num_men                    0.000000
aa_h_num_adu                 0.000000
h_num_adu                    0.000000
ID_canal                     0.000000
ID_Tipo_Habitacion           0.000000
h_fec_lld_okt                0.000000
ID_Programa                  0.000000
ID_Agencia                   0.000000
ID_empresa                   0.000000
ID_Segmento_Comp             0.000000
ID_Paquete                   0.000000
h_fec_sda_okt                0.000000
h_fec_sda_ok                 0.000000
h_fec_reg_okt                0.000000
h_fec_reg_ok                 0.000000
h_fec_lld_ok                 0.000000
Reservacion                  0.000000
ID_Pais_Origen               0.000000
Cliente_Disp                 0.000000
aa_Reservacion               0.000000
ID_estatus_reservaciones     0.000000
aa_Cliente_Disp              0.000000
h_tfa_total                  0.000000
aa_h_tfa_total               0.000000
moneda_cve                   0.000000
h_ult_cam_fec_ok             0.000000
h_ult_cam_fec_okt            0.000000
dtype: float64

In [17]:
df.head(10)

,ID_Reserva,Fecha_hoy,h_res_fec,h_res_fec_ok,h_res_fec_okt,h_num_per,aa_h_num_per,h_num_adu,aa_h_num_adu,h_num_men,...,h_can_res,h_cod_reserva,h_edo,h_codigop,h_tfa_total,aa_h_tfa_total,moneda_cve,h_ult_cam_fec,h_ult_cam_fec_ok,h_ult_cam_fec_okt
0,0,2019-08-16,2019-08-16,2019-08-16,2019-08-16,2,0,2,0,0,...,09,NaN,EMX,01500,2659.98,0.0,1,2019-11-10,2019-11-10,2019-11-10
1,1,2019-10-22,2019-10-22,2019-10-22,2019-10-22,4,0,4,0,0,...,09,NaN,EGT,023541,1764.00,0.0,1,2019-12-05,2019-12-05,2019-12-05
2,2,2019-10-28,2019-10-28,2019-10-28,2019-10-28,2,0,2,0,0,...,09,NaN,EMC,59800,2660.04,0.0,1,2019-12-05,2019-12-05,2019-12-05
3,3,2019-10-28,2019-10-28,2019-10-28,2019-10-28,4,0,3,0,0,...,09,NaN,EGT,37219,1995.03,0.0,1,2019-12-11,2019-12-11,2019-12-11
4,4,2019-10-28,2019-10-28,2019-10-28,2019-10-28,2,0,2,0,0,...,12,74101652-3_2394,EMX,15300,13369.92,0.0,1,2019-12-12,2019-12-12,2019-12-12
5,5,2019-08-05,2019-08-05,2019-08-05,2019-08-05,6,0,6,0,0,...,11,NaN,EGT,(443) 121,2660.04,0.0,1,2019-12-05,2019-12-05,2019-12-05
6,6,2019-07-19,2019-07-19,2019-07-19,2019-07-19,2,0,2,0,0,...,09,NaN,EGR,NaN,3331.98,0.0,1,2019-07-24,2019-07-24,2019-07-24
7,7,2019-07-19,2019-07-19,2019-07-19,2019-07-19,2,0,2,0,0,...,00,73605555-1,EMC,58410,8809.92,0.0,1,2019-08-25,2019-08-25,2019-08-25
8,8,2019-07-19,2019-07-19,2019-07-19,2019-07-19,3,0,2,0,0,...,09,NaN,EGR,01245,2548.00,0.0,1,2019-08-29,2019-08-29,2019-08-29
9,9,2019-05-06,2019-05-06,2019-05-06,2019-05-06,2,0,2,0,0,...,09,NaN,EMC,58080,2548.00,0.0,1,2019-08-29,2019-08-29,2019-08-29

#### Imputación de datos

In [20]:
# Ya que h_codigop es la segunda columna con mayor cantidad de nulos, exploramos 'h_edo' para posteriormente utilizarla para imputar sus datos
df['h_edo'].unique()

array(['EMX   ', 'EGT   ', 'EMC   ', 'EGR   ', 'EAZ   ', 'ESL   ',
       'ENL   ', 'EMR   ', 'EDF   ', 'EQR   ', 'EHG   ', 'EQE   ',
       'EON   ', 'EMB   ', 'ECA   ', 'EAB   ', 'EBC   ', 'EJA   ',
       'ESO   ', 'ECH   ', 'EZA   ', 'EOR   ', 'ETX   ', 'EIL   ',
       'EME   ', 'EMO   ', 'ENV   ', 'ESZI  ', 'EWA   ', 'ENC   ',
       'ESED  ', 'EAL   ', 'EPB   ', 'EAGU  ', 'EVE   ', 'EPA   ',
       'EDE   ', 'ENM   ', 'EIN   ', 'EMI   ', 'ENY   ', 'ECOL  ',
       'ELA   ', 'EAS   ', 'ECU   ', 'EHI   ', 'EAAB  ', 'EDC   ',
       'EID   ', 'EBCN  ', 'ECL   ', 'EGU   ', 'ESI   ', 'ENT   ',
       'EAR   ', 'EGA   ', 'ECO   ', 'EESP  ', 'EFL   ', 'EUYU  ',
       'ETM   ', 'EWI   ', 'EDG   ', 'ENA   ', 'ETB   ', 'ESK   ',
       'EMN   ', 'EOA   ', 'EPRI  ', 'EMT   ', 'EMA   ', 'EQC   ',
       'EGTE  ', 'EJPA  ', 'ECHS  ', 'EWY   ', 'EAK   ', 'EVA   ',
       'EKRO  ', 'EMS   ', 'ENB   ', 'EVI   ', 'ETL   ', 'EDEG  ',
       'EGBU  ', 'EALB  ', 'ECRI  ', 'EIA   ', 'EYU   ', 'ECS   ',
       'EPE   ', 'EYT   ', 'EITA  ', 'EGDR  ', 'EOH   ', 'ENJ   ',
       'EECU  ', 'ENE   ', 'EKEN  ', 'EGAB  ', 'EKS   ', 'ECM   ',
       'EAUS  ', 'EAEU  ', 'EUMO  ', 'EMH   ', 'EVT   ', 'EFRA  ',
       'ECLE  ', 'ESVA  ', 'EGUA  ', 'EBSU  ', 'END   ', 'EPER  ',
       'ECT   ', 'EGPE  ', 'ESD   ', 'EMKF  ', 'EKY   ', 'EGLE  ',
       'EGSS  ', 'EARG  ', 'ETFS  ', nan, 'ENF   ', 'EOK   ', 'ED01  ',
       'EVEN  ', 'EUT   ', 'EGFR  ', 'EGIB  ', 'ETN   ', 'EAZE  ',
       'ELSO  ', 'ERU   ', 'ED13  ', 'EILS  ', 'ED23  ', 'EPR   ',
       'ESC   ', 'EBOP  ', 'EGEO  ', 'EBRA  ', 'EEHW  ', 'EDKE  ',
       'EPTG  ', 'EPAN  ', 'EPLA  '], dtype=object)

In [ ]:
# Parece ser que no son los estados del país
len(df['h_edo'].unique())

148